### Import quotes_fetcher

In [2]:
from quotes_fetcher import Symbols

### Fetch data

Let's get data for Apple, Google and Tesla for the last 10 days.

In [3]:
symbols = Symbols('aapl goog tsla', period='10d')
symbols.quotes

[*********************100%***********************]  3 of 3 completed

             AAPL                                    GOOG                    \
            Close   High    Low   Open    Volume    Close     High      Low
Date
2020-02-11 319.61 323.90 318.71 323.60  23580800 1,508.79 1,529.63 1,505.64
2020-02-12 327.20 327.22 321.47 321.47  28432600 1,518.27 1,520.69 1,508.11
2020-02-13 324.87 326.22 323.35 324.19  23686900 1,514.66 1,527.18 1,504.60
2020-02-14 324.95 325.98 322.85 324.74  20028400 1,520.74 1,520.74 1,507.34
2020-02-18 319.00 319.75 314.61 315.36  38132800 1,519.67 1,531.63 1,512.59
2020-02-19 323.62 324.57 320.00 320.00  23496000 1,526.69 1,532.11 1,521.40
2020-02-20 320.30 324.65 318.21 322.63  25141500 1,518.15 1,529.64 1,506.82
2020-02-21 313.05 320.45 310.50 318.62  32388500 1,485.11 1,512.21 1,480.44
2020-02-24 298.18 304.18 289.23 297.26  55548800 1,421.59 1,436.97 1,411.39
2020-02-25 288.08 302.53 286.13 300.95  57566400 1,388.45 1,438.14 1,382.40

                               TSLA
               Open   Volume  Close   High    Low   Open    Volume
Date
2020-02-11 1,511.81  1344600 774.38 783.51 758.00 768.79  11697500
2020-02-12 1,514.48  1167600 767.29 789.75 763.37 777.87  12022500
2020-02-13 1,512.69   929500 804.00 818.00 735.00 741.84  26289300
2020-02-14 1,515.60  1197800 800.03 812.97 785.50 787.22  15693700
2020-02-18 1,515.00  1120700 858.40 860.00 832.36 841.60  16381700
2020-02-19 1,525.07   949300 917.42 944.78 901.02 923.50  25423000
2020-02-20 1,522.00  1096600 899.41 912.00 859.94 911.95  17634900
2020-02-21 1,508.03  1731700 901.00 913.06 880.45 906.98  14314800
2020-02-24 1,426.11  2867100 833.79 863.50 822.20 839.00  15192200
2020-02-25 1,433.00  2475600 799.91 856.60 787.00 849.00  17223200

We can also specify a more exact period via start and end time thresholds.

In [4]:
symbols = Symbols('aapl goog tsla', period_start='2018-04-26', period_end='2019-09-13')
symbols.quotes

[*********************100%***********************]  3 of 3 completed

             AAPL                                    GOOG                    \
            Close   High    Low   Open    Volume    Close     High      Low
Date
2018-04-25 163.65 165.42 162.41 162.62  28382100 1,021.18 1,032.49 1,015.31
2018-04-26 164.22 165.73 163.37 164.12  27963000 1,040.04 1,047.98 1,018.19
2018-04-27 162.32 164.33 160.63 164.00  35655800 1,030.05 1,049.50 1,025.59
2018-04-30 165.26 167.26 161.84 162.13  42427400 1,017.33 1,037.00 1,016.85
2018-05-01 169.10 169.20 165.27 166.41  53569400 1,037.31 1,038.47 1,008.21
...           ...    ...    ...    ...       ...      ...      ...      ...
2019-09-06 213.26 214.42 212.51 214.05  19362300 1,204.93 1,212.02 1,202.52
2019-09-09 214.17 216.44 211.07 214.84  27309400 1,204.41 1,220.00 1,192.62
2019-09-10 216.70 216.78 211.71 213.86  31777900 1,206.00 1,210.00 1,194.58
2019-09-11 223.59 223.71 217.73 218.07  44289600 1,220.17 1,222.60 1,202.20
2019-09-12 223.09 226.42 222.86 224.80  32226700 1,234.25 1,241.86 1,223.02

                               TSLA
               Open   Volume  Close   High    Low   Open    Volume
Date
2018-04-25 1,025.52  2391100 280.69 285.16 277.25 283.50   4013600
2018-04-26 1,029.51  2079500 285.48 285.79 276.50 278.75   4356000
2018-04-27 1,046.00  1619800 294.08 294.47 283.83 285.37   4364600
2018-04-30 1,030.01  1671300 293.90 298.73 292.50 293.61   4228200
2018-05-01 1,013.66  1427900 299.92 300.82 293.22 293.51   4625600
...             ...      ...    ...    ...    ...    ...       ...
2019-09-06 1,208.13  1072100 227.45 229.64 225.17 227.20   4189400
2019-09-09 1,204.00  1471900 231.79 233.76 229.23 230.00   4802700
2019-09-10 1,195.15  1260100 235.54 235.54 228.94 230.80   4883700
2019-09-11 1,203.41  1307000 247.10 248.17 236.00 237.38  10042800
2019-09-12 1,224.30  1725900 245.87 253.50 244.40 247.70   8581200

[349 rows x 15 columns]

### Get more data

If we don't like the default view, we can easily transpose the table. Let's do it.

In [5]:
symbols.quotes_t

Date           2018-04-25    2018-04-26    2018-04-27    2018-04-30  \
AAPL Close         163.65        164.22        162.32        165.26
     High          165.42        165.73        164.33        167.26
     Low           162.41        163.37        160.63        161.84
     Open          162.62        164.12        164.00        162.13
     Volume 28,382,100.00 27,963,000.00 35,655,800.00 42,427,400.00
GOOG Close       1,021.18      1,040.04      1,030.05      1,017.33
     High        1,032.49      1,047.98      1,049.50      1,037.00
     Low         1,015.31      1,018.19      1,025.59      1,016.85
     Open        1,025.52      1,029.51      1,046.00      1,030.01
     Volume  2,391,100.00  2,079,500.00  1,619,800.00  1,671,300.00
TSLA Close         280.69        285.48        294.08        293.90
     High          285.16        285.79        294.47        298.73
     Low           277.25        276.50        283.83        292.50
     Open          283.50        278.75        285.37        293.61
     Volume  4,013,600.00  4,356,000.00  4,364,600.00  4,228,200.00

Date           2018-05-01    2018-05-02    2018-05-03    2018-05-04  \
AAPL Close         169.10        176.57        176.89        183.83
     High          169.20        177.75        177.50        184.25
     Low           165.27        173.80        174.44        178.17
     Open          166.41        175.23        175.88        178.25
     Volume 53,569,400.00 66,539,400.00 34,068,200.00 56,201,300.00
GOOG Close       1,037.31      1,024.38      1,023.72      1,048.21
     High        1,038.47      1,040.39      1,029.68      1,048.51
     Low         1,008.21      1,022.87      1,006.29      1,016.90
     Open        1,013.66      1,028.10      1,019.00      1,016.90
     Volume  1,427,900.00  1,603,100.00  1,815,100.00  1,938,700.00
TSLA Close         299.92        301.15        284.45        294.09
     High          300.82        306.85        288.04        296.86
     Low           293.22        297.78        275.23        279.52
     Open          293.51        298.57        278.79        283.00
     Volume  4,625,600.00  8,970,400.00 17,352,100.00  8,569,400.00

Date           2018-05-07    2018-05-08  ...    2019-08-29    2019-08-30  \
AAPL Close         185.16        186.05  ...        209.01        208.74
     High          187.67        186.22  ...        209.32        210.45
     Low           184.75        183.67  ...        206.66        207.20
     Open          185.18        184.99  ...        208.50        210.16
     Volume 42,451,400.00 28,402,800.00  ... 20,990,500.00 21,143,400.00
GOOG Close       1,054.79      1,053.91  ...      1,192.85      1,188.10
     High        1,061.68      1,060.55  ...      1,196.06      1,198.50
     Low         1,047.10      1,047.15  ...      1,181.12      1,183.80
     Open        1,049.23      1,058.54  ...      1,181.12      1,198.50
     Volume  1,466,100.00  1,217,700.00  ...  1,088,400.00  1,129,800.00
TSLA Close         302.77        301.97  ...        221.71        225.61
     High          305.96        307.75  ...        223.40        232.44
     Low           295.17        299.00  ...        218.00        224.21
     Open          297.50        300.80  ...        219.00        229.15
     Volume  8,678,200.00  5,930,000.00  ...  5,179,500.00  9,320,600.00

Date           2019-09-03    2019-09-04    2019-09-05    2019-09-06  \
AAPL Close         205.70        209.19        213.28        213.26
     High          206.98        209.48        213.97        214.42
     Low           204.22        207.32        211.51        212.51
     Open          206.43        208.39        212.00        214.05
     Volume 20,023,000.00 19,188,100.00 23,913,700.00 19,362,300.00
GOOG Close       1,168.39      1,181.41      1,211.38      1,204.93
     High        1,186.89      1,183.48      1,213.04      1,212.02
     Low         1,163.20      1,171.00      1,191.53      1,202.52
     Open        1,177.03      1,176.71      1,191.53      1,208.13
     Volume  1,479,900.00  1,068,900.00  1,408,100.00  1,072,100.00
TSLA Close         225.01        220.68        229.58        227.45
     High          228.95        228.46        229.80        229.64
     Low           223.16        219.21        220.85        225.17
     Open          224.08        226.89        222.50        227.20
     Volume  5,354,100.00  5,761,000.00  7,395,300.00  4,189,400.00

Date           2019-09-09    2019-09-10    2019-09-11    2019-09-12
AAPL Close         214.17        216.70        223.59        223.09
     High          216.44        216.78        223.71        226.42
     Low           211.07        211.71        217.73        222.86
     Open          214.84        213.86        218.07        224.80
     Volume 27,309,400.00 31,777,900.00 44,289,600.00 32,226,700.00
GOOG Close       1,204.41      1,206.00      1,220.17      1,234.25
     High        1,220.00      1,210.00      1,222.60      1,241.86
     Low         1,192.62      1,194.58      1,202.20      1,223.02
     Open        1,204.00      1,195.15      1,203.41      1,224.30
     Volume  1,471,900.00  1,260,100.00  1,307,000.00  1,725,900.00
TSLA Close         231.79        235.54        247.10        245.87
     High          233.76        235.54        248.17        253.50
     Low           229.23        228.94        236.00        244.40
     Open          230.00        230.80        237.38        247.70
     Volume  4,802,700.00  4,883,700.00 10,042,800.00  8,581,200.00

[15 rows x 349 columns]

Can we get more data? For sure. Let's check what we've got.

In [6]:
symbols = Symbols('yndx, msft ibm , KO tsla aApl BAC ', period='5y')
symbols.metrics

[*********************100%***********************]  7 of 7 completed

      Average Close   Average Vol  Avg Day Dollar Trd Vol  Beta
AAPL         160.29 35,031,365.39        5,370,796,834.67  1.27
BAC           23.73 77,005,490.37        1,715,137,317.54  1.32
IBM          148.45  4,394,995.94          647,091,933.91  0.96
KO            45.53 12,826,885.60          580,252,383.72  0.51
MSFT          84.84 28,872,359.59        2,379,533,216.45  1.30
TSLA         282.07  7,107,882.42        2,235,917,646.33  1.29
YNDX          27.43  2,898,355.21           79,508,417.03  1.37

By the way, if we need to get the list of symbols data we've obtained for, it's not a big deal.

In [7]:
symbols.symbols

['YNDX', 'MSFT', 'IBM', 'KO', 'TSLA', 'AAPL', 'BAC']